<meta charset="UTF-8">
<title><%= title %></title>

<link rel="stylesheet" href="<%= config.site.subDir %>stylesheets/bootstrap.min.css">
<link rel="stylesheet" href="<%= config.site.subDir %>stylesheets/material.min.css">
<link rel="stylesheet" href="<%= config.site.subDir %>stylesheets/ripples.min.css">
<link rel="stylesheet" href="<%= config.site.subDir %>stylesheets/material-wfont.min.css">
<link rel="stylesheet" href="<%= config.site.subDir %>stylesheets/chat.css">
<script src="<%= config.site.subDir %>javascripts/lodash.js"></script>
<script>
_.templateSettings = {
  interpolate: /\{\{(.+?)\}\}/g
};
</script>
<script src="<%= config.site.subDir %>javascripts/jquery.js"></script>
<script src="<%= config.site.subDir %>javascripts/jquery.cookie.js"></script>
<script src="<%= config.site.subDir %>javascripts/moment.js"></script>
<script src="<%= config.site.subDir %>javascripts/bootstrap.min.js"></script>
<script src="<%= config.site.subDir %>javascripts/material.min.js"></script>
<script src="<%= config.site.subDir %>javascripts/ripples.min.js"></script>
<script src="<%= config.site.subDir %>javascripts/socket.io.js"></script>